.text-font{
    font-size: 30px;
}

.search-book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

#search-input{
    height: 40px;
    width: 350px;
    font-size: 1rem;
}

.all-books{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 3rem;
    margin-top: 1rem;
    font-size: 20px;
}

.books{
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
    height: 170px;
    width: 160px;
    display: flex;
    flex-direction: column;
}

.books > #book-name{
    margin-bottom: 0.25rem;
}

.books > #book-author{
    font-size: 17px;
    color: #777;
}

button{
    /* width: 50px; */
    margin-top: auto;
    background-color: white;
    border: none;
    color: black;
    padding: 10px 60px;
    /* text-align: center; */
    /* text-decoration: none; */
    /* display: inline-block; */
    font-size: 15px;
    /* margin: 4px 2px; */
    transition-duration: 0.4s;
    cursor: pointer;
    /* border: 2px solid #04AA6D; */
    background-color: #04c07b;
    /* color: white; */
    border-radius: 8px;
}

.hide{
    display: none;
}
