.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-self: center; */
    align-items: center;
}

.all-borrows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-self: center; */
    align-items: center;
    gap: 1rem;
    /* border: 1px solid black;
    background-color: white; */
    /* padding: 1rem; */
    height: 100px;
    width: 700px;
}

table {
    border-collapse: collapse;
}

td, th {
    /* border: 1px solid black; */
    padding: 10px 20px;
}
