.all-borrows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 0.25rem; */
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
    /* height: 170px; */
    width: 700px;
}
