<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/keeper-base.css">
    {% block style %}{% endblock %}
    </style>
</head>
<body>
    <div class="nav-left">
        <a href="{{ url_for('keeper_profile') }}">Dashboard</a>
        <a class="keeper-nav" href="{{ url_for('show_books') }}">Show all Books</a>
        <a class="keeper-nav" href="{{ url_for('add_book') }}">Add Book</a>
        <a class="keeper-nav" href="{{ url_for('update_qty') }}">Update Quantity</a>
        <a class="keeper-nav" href="{{ url_for('pending_orders') }}">Pending Orders</a>
        <a class="keeper-nav" href="{{ url_for('borrowed_books') }}">Borrowed Books</a>
        <a class="keeper-nav" href="{{ url_for('keeper_history') }}">History</a>
        
        <div id="nav-right">
            <a href="/logout">logout</a>
        </div>
    </div>
    <br><br>
    <script src="/js/keeper-base.js"></script>
    {% block content %}
    {% endblock %}
</body>
</html>
