<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    {% with messages = get_flashed_messages()[0] %}
        <p style="color: red;">{{ messages }}</p>
    {% endwith %}
    <form action="#" method="post">
        <label>Enter your Username:</label>
        <input type="text" name="username" required><br><br>
        <label>Enter your Password:</label>
        <input type="password" name="password" required><br><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>