<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    {% with messages = get_flashed_messages() %}
        <p style="color: red;">{{ messages[1] if messages }}</p>
        <form action="#" method="post">
            <label>Enter your first name:</label>
            <input type="text" name="fname" value="{{ messages[0][0] if messages }}" required><br><br>
            <label>Enter your last name:</label>
            <input type="text" name="lname" value="{{ messages[0][1] if messages }}" required><br><br>
            <label>Enter your E-mail:</label>
            <input type="email" name="email" value="{{ messages[0][2] if messages }}" required><br><br>
            <label>Create a username:</label>
            <input type="text" name="username" required><br><br>
            <label>Create a password:</label>
            <input type="password" name="password" required><br><br>
            <button type="submit">Submit</button>
        </form>
    {% endwith %}
</body>
</html>
