<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form id="register-form" action="#" method="post">
        <label>Enter your first name:</label>
        <input type="text" name="fname" required><br><br>
        <label>Enter your last name:</label>
        <input type="text" name="lname" required><br><br>
        <label>Enter your E-mail:</label>
        <input type="email" name="email" required><br>
        <p id="user-msg"></p>
        <label>Create a username:</label>
        <input type="text" id="user-input" name="username" required><br><br>
        <label>Create a password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit" id="submit-btn">Submit</button>
    </form>
    <script src="/js/register.js"></script>
</body>
</html>
