<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <h2>{{hello}}</h2>
    <form action="/user-pass" method="post">
        <label>Enter your fullname:</label>
        <input type="text" name="fname" required><br><br>
        <!-- <label>Enter your address</label>
        <input type="text" name="address"> -->
        <label>Enter your phone no:</label>
        <input type="text" name="phone" required><br><br>
        <label>Enter your E-mail:</label>
        <input type="email" name="mail" required><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>