{% extends "keeper-base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}show books{% endblock %}</title>
</head>
<body>
    {% block content %}
        <div class="container">
            <h3>All Books</h3>
            <div class="all-books">
                {% if not books %}
                    <p>No books available</p>
                {% else %}
                    <table id="book-table">
                        <thead id="book-head">
                            <tr>
                                <th>Book ID</th>
                                <th>Book Name</th>
                                <th>Author Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody id="book-body">
                            {% for book in books %}
                                <tr>
                                    <td>{{ book[0] }}</td>
                                    <td>{{ book[1] }}</td>
                                    <td>{{ book[2] }}</td>
                                    <td>{{ book[3] }}</td>
                                    <td>{{ book[4] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    {% endblock %}
</body>
</html>
