{% extends "keeper-base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}show books{% endblock %}</title>
</head>
<body>
    {% block content %}
        <div class="container">
            <h3>All Books</h3>
            <div class="all-books">
                {% if not books %}
                    <p>No books available</p>
                {% else %}
                    <p id="empty-msg"></p>
                {% endif %}
            </div>
        </div>
    {% endblock %}
</body>
</html>
