<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/user-base.css">
    {% block style %}{% endblock %}
</head>

<body>
    <div class="nav-left">
        <a class="active" href="{{ url_for('user_profile') }}">Dashboard</a>
        <a class="user-nav" href="{{ url_for('borrow_book') }}">Borrow a Book</a>
        <a class="user-nav" href="{{ url_for('check_borrow') }}">Check my Borrowings</a>
        <a class="user-nav" href="{{ url_for('user_history') }}">History</a>
        <div id="nav-right">
            <a href="{{ url_for('logout') }}">logout</a>
        </div>
    </div>
    <br><br>
    <script src="/js/user-base.js"></script>
    {% block content %}
    {% endblock %}
</body>

</html>
